<footer class="border-top">        
    <div class="row">            
       <div class="col-12 col-sm-6">Derechos Reservados Sistema POC</span></div>
       <div class="col-12 col-sm-6 text-right">2019</div>        
    </div>    
</footer>    