<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="td_bgheader"><center><img src="./templates/img/header.png" border="0" width="100%" height="100"/></center></td>
	</tr>
</table>